:root {
  --app-min-width: 360px;
  --app-max-width: 440px;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #eee;
}

.app {
  width: clamp(
    var(--app-min-width),
    100%,
    var(--app-max-width)
  );

  min-height: 100dvh;
  margin-inline: auto;

  background-color: #fff;
}